body {
    width: 100%;
    margin: 0;
    padding-bottom: 60px;
    background: linear-gradient(60deg, skyblue 0%, white 45%, white 55%, pink  100%);
    font-family: Arial;
    overflow-x: hidden;
}
.entirebox {
    display: inline-block;
    position: absolute;
    background-color: white;
}
.container {
    width: 1500px;
    margin-left: calc(50% - 750px);
    margin-top: 60px;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.main-footer > div {
    display: flex;
    gap: 10px;
}    
.main-footer > p {
    margin: 0;
}
.social > a {
    color: #808080ad;
    padding: 10px;
}
.social > a:hover {
    color: white;
    background-color: #808080ad;
}
